@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро Пожаловать</h1>
    <p>Узнайте о <a href="https://docs.microsoft.com/aspnet/core">создании веб-приложений с помощью ASP.NET Core</a>.</p>
</div>


